@import "tailwindcss";

:root {
  --background: #385a71;
  --secondary-background: #5080a1;
  --text: #aaaaaa;
  --first-symbol-color: #93c47d;
  --second-symbol-color: #f6b26b;
}

body{
  background-color: var(--background);
  color: var(--text);
}